*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 100);
}

.passwordinput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    position: relative;
    padding: 0;
}

.passwordinput input{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
}

.passwordinput i{
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 20px;
    color: rgb(164, 163, 163);
    cursor: pointer;
}