*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(57, 57, 135), rgb(158, 57, 158));
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-weight: 600;
}

h1 span{
    color: rgb(208, 52, 52);
    border-bottom: 4px solid white;
}

textarea{
    margin-top: 40px;
    width: 420px;
    height: 200px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(225, 225, 225, 0.2);
    padding: 10px 20px;
    color: white;
    resize: none;
}

textarea::placeholder{
    color: white;
}

.row{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
}

.row select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 13px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgb(109, 109, 151);
    color: white;
    margin-right: 20px;  
}

.row button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 10px;
    background-color: rgb(208, 52, 52);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.row button img{
    width: 20px;
    margin-right: 10px;
}